@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-950;
}

@layer components {
  /* main */
  .main-container {
    @apply flex min-h-screen flex-1 flex-col items-center bg-gray-950 max-md:pb-32 sm:px-4;
  }

  /* Head Text */
  .head-text {
    @apply text-heading2-bold text-light-1;
  }

  /* Activity */
  .activity-card {
    @apply flex items-center gap-1 rounded-xl bg-slate-900/50 px-7 py-6;
  }

  .activity-card-choice {
    @apply flex items-center gap-1 rounded-xl bg-slate-900/50 pl-7 pr-2 py-2;
  }

  /* No Result */
  .no-result {
    @apply ml-4 !text-base-regular text-light-3;
  }

  /* Community Card */
  .community-card {
    @apply w-full rounded-lg bg-dark-3 px-4 py-5 sm:w-96;
  }

  .community-card_btn {
    @apply rounded-lg bg-primary-500 px-5 py-1.5 text-small-regular !text-light-1 !important;
  }

  /* thread card  */
  .thread-card_bar {
    @apply relative mt-2 w-0.5 grow rounded-full bg-primary-600;
  }

  /* User card */
  .user-card {
    @apply flex flex-col justify-between gap-4 max-xs:rounded-xl max-xs:bg-dark-3 bg-primary-500/10 rounded-lg p-2 max-xs:p-4 xs:flex-row xs:items-center;
  }

  .user-choose-card {
    @apply flex gap-4 max-xs:rounded-xl max-xs:bg-dark-3 bg-primary-500/10 rounded-lg p-2 max-xs:p-4 xs:flex-row xs:items-center;
  }

  .user-card_avatar {
    @apply flex flex-1 items-start justify-start gap-3 xs:items-center;
  }

  .user-card_btn {
    @apply h-auto min-w-[74px] w-[270px] rounded-lg bg-primary-500/10 text-[12px] text-light-1 !important;
  }

  .user-card_add {
    @apply h-auto min-w-[74px] w-[150px] rounded-lg bg-primary-500/10 text-[12px] text-light-1 !important;
  }

  .searchbar {
    @apply flex gap-1 rounded-lg bg-dark-3 px-4 py-2;
  }

  .searchbar_input {
    @apply border-none bg-dark-3 text-base-regular text-light-3 outline-none !important;
  }

  .topbar {
    @apply relative top-0 z-30 flex w-full items-center justify-between px-6 pt-3;
  }

  .bottombar {
    @apply fixed bottom-0 z-10 w-full rounded-3xl bg-glassmorphism p-4 backdrop-blur-lg xs:px-7 md:hidden;
  }

  .bottombar_container {
    @apply flex items-center justify-between gap-3 xs:gap-5;
  }

  .bottombar_link {
    @apply relative flex flex-col items-center gap-2 rounded-lg p-2 sm:flex-1 sm:px-2 sm:py-2.5;
  }

  .leftsidebar {
    @apply sticky right-0 top-[145px] z-20 flex max-h-fit w-fit flex-col justify-between overflow-auto py-4 rounded-xl ml-6 mt-14 max-md:hidden;
  }

  .leftsidebar_link {
    @apply relative flex justify-center lg:justify-start gap-4 rounded-xl p-4;
  }

  .rightsidebar {
    @apply sticky right-0 top-[125px] z-20 flex w-52 max-xl:w-48 flex-col justify-between gap-10 max-xl:gap-6 overflow-auto bg-slate-900/60 rounded-xl mb-10 mt-10 px-8 max-xl:px-4 mr-4 pb-4 pt-4 ;
  }
}

@layer utilities {
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}

/* Clerk Responsive fix */
.cl-organizationSwitcherTrigger .cl-userPreview .cl-userPreviewTextContainer {
  @apply max-sm:hidden;
}

.cl-organizationSwitcherTrigger
  .cl-organizationPreview
  .cl-organizationPreviewTextContainer {
  @apply max-sm:hidden;
}

/* Shadcn Component Styles */

/* Tab */
.tab {
  @apply flex min-h-[50px] flex-1 items-center gap-3 bg-dark-2 text-light-2 data-[state=active]:bg-[#0e0e12] data-[state=active]:text-light-2 !important;
}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

/* Account Profile  */
.account-form_image-label {
  @apply flex h-24 w-24 items-center justify-center rounded-full bg-dark-4 !important;
}

.account-form_image-input {
  @apply cursor-pointer border border-slate-200/20 hover:border-primary-500 transition duration-200 bg-transparent outline-none file:text-primary-500 !important;
}

.account-form_input {
  @apply border border-dark-4 bg-dark-3 text-light-1 !important;
}

/* Comment Form */
.comment-form {
  @apply mt-10 flex items-center gap-4 border-y border-y-dark-4 py-5 max-xs:flex-col !important;
}

.comment-form_btn {
  @apply rounded-3xl bg-primary-500 px-8 py-2 !text-small-regular text-light-1 max-xs:w-full !important;
}
